# Data files
*.json
*.csv
data/*.json
data/*.csv
data/*.gz

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Model files
*.pkl
models/*.pkl